# Build wheels using cibuildwheel https://cibuildwheel.readthedocs.io/

name: Wheels
on:
  push:
  workflow_dispatch:

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04-arm, windows-2022, macos-13, macos-14]

    steps:
    - uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.0.0

    - run: ls -lh wheelhouse
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: program_wheel-${{ matrix.os }}
        path: wheelhouse/*.whl
